#minimalistintro {
  min-height: 10vh !important;
  height: unset !important;
  margin-bottom: -8em;
  
}
.col-md-12 {
  margin-bottom: 1em;
}
a {
  color: #fff;
}
a:hover {
  color: rgb(97, 235, 17);
}
